<nav class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            {% for mi in menu_list %}
            {% if mi.active %}
            <li class="active"><a href="{{mi.link}}">{{mi.caption}}</a></li>
            {% else %}
            <li><a href="{{mi.link}}">{{mi.caption}}</a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div><!--/.nav-collapse -->
</nav>