* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.header {
    background-color: lightgrey;
    height: 200px;
}

.main {
    width: 1200px;
    height: 700px;
    margin-top: 0px;
}

.menu_shift {
    width: 100px;
    float: left;
}

.footer {
    background-color: grey;
    height: 100px;
}

.my_title {
    margin-top: -156px;
    margin-left: 0px;

    padding-top: 2px;
}

.main_logo {
    float: left;
}

.main_caption {
    margin-left: 120px;
    padding-top: 30px;
}

.main_context1 {
    width: 564px;
    height: 600px;
    float: left;
    margin-left: 20px;
    margin-top: -5px;

    padding-left: 62px;
    padding-top: 21px;
}

.main_context2 {
    width: 564px;
    height: 600px;
    float: left;
    margin-left: 20px;
    margin-top: -5px;

    padding-left: 0px;
    padding-top: 0px;

    border-width: 2px;
    border-style: solid;
    border-color: blue;
    border-color: darkgrey;
}