* {
    margin: 0;
    padding: 0;
    transition: all 1s;
}

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
}

.image_title {
    margin-left: 32px;
    width: 100px;
    float: left;
}

.main_caption {
    margin: 0;
    padding-top: 30px;
}

.clr_block1 {
    height: 32px;
}

.clr_block_text {
    height: 12px;
}

.container .header {
    height: 180px;
    background-color: lightgrey;
    min-width: 300px;
}

.container .main {
    margin-left: 5%;
    min-width: 600px;
    min-height: 800px;
}

.container .main_hb {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 1%;

    min-width: 600px;
    min-height: 800px;
}

.container .main_cv {
    min-height: 2100px;
    min-width: 600px;
}

.block {
    width: 45%;
    float: left;
    margin-top: 40px;
    margin-right: 20px;
}

.block_main_image {
    margin-left: 15%;
}

.skill_container {
    margin: 4px 4px;
    float: left;
}

.image_template_container {
    width: 60%;
    float: left;

    padding-left: 2%;
    padding-top: 2%;

    min-height: 420px;
}

.context_template_container {
    padding-right: 30px;
    min-height: 420px;
}

.footer {
    height: 100px;
    background-color: grey;
    width: 80%;
    margin: -100px auto 0;
    padding-top: 40px;
}

.footer_copy {
    margin-left: 5%;
    color: lightgrey;
}

@media screen and (max-width: 1000px) {
    .block {
        float: none;
        margin: 0 auto;
    }
}