* {
    margin: 0;
    padding: 0;
    transition: all 1s;
}

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
    width: 80%;
    margin: 0 auto;
}

.image_title {
    margin-left: 32px;
    width: 100px;
    float: left;
}

.main_caption {
    margin: 0;
    padding-top: 30px;
}

.clr_block1 {
    height: 32px;
}

.container .header {
    height: 180px;
    background-color: lightgrey;
    min-width: 300px;
}

.container .main {
    margin-left: 100px;
    min-width: 600px;
    min-height: 500 px;
}

.container .block {
    width: 35%;
    height: 500px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    float: left;

    margin-top: 100px;
}

.footer {
    height: 100px;
    background-color: grey;
    width: 80%;
    margin: -100px auto 0;
}

@media screen and (max-width: 1000px) {

    .container .block {
        float: none;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1100px) {

}