<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{page_title}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>

<div class="container">
    <div class="header">
        <div class="clr_block1"></div>
        <div class="image_title">
            <img src='{% static "images/aboutme1.png" %}' alt="image about me" width="80px">
        </div>
        <div class="main_caption">
            {% include 'inc/inc_main_caption.html' %}
        </div>
        {% include 'inc/inc_main_menu.html' %}
    </div>

    <div class="main_con">
        <div class="container-fluid">
            <h3 class="text-uppercase">Контакты</h3>
            <br>
            <h4>Дмитрий Павлов</h4>
            <div class="col-md-7">
                <img class="img-rounded" src='{% static "images/contact.jpg" %}' alt="contact photo" width="80%">
                <br>
                <br>
                <address>
                    <strong>Россия</strong><br>
                    Нижний Новгород<br>
                    Канавинский район<br>
                    Метро: Канавинская<br>
                    <img src='{% static "images/email.png" %}' alt="email">
                </address>
                <hr>
            </div>
            <div class="col-md-5">
                <p>Напишите мне, буду рад сотрудничеству:</p>
                <br>
                <form action="/feedback" method="post">
                    {% csrf_token %}
                    <table>
                        {{contact_form.as_table}}
                    </table>
                    <input type="submit" value="Отправить" class="btn btn-success"/>
                </form>
                <br>

                {% if feed_success %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{feed_success}}
                </div>
                {% else %}
                {% if feed_error %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{feed_error}}
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% include 'inc/inc_common_footer.html' %}
</body>
</html>