<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{page_title}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>

<div class="header">

</div>
<div class="container">
    <div class="main">

        <div class="my_title">

            <div class="main_logo">
                <img src='{% static "images/aboutme1.png" %}' alt="About Me image" width="80px">
            </div>
            {% include 'inc_main_caption.html' %}
        </div>
        {% include 'inc_main_menu.html' %}
        <div class="panel panel-default">
            <div class="panel-heading">Образование</div>
            <div class="panel-body">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem dolorum eius ipsam labore
                    minus non possimus rem reprehenderit, sint. Blanditiis consequuntur explicabo maxime nemo, numquam
                    obcaecati possimus vero voluptatum!
                </div>
                <div>Ab accusamus atque aut consequuntur distinctio dolorum earum eos iste labore maiores minus nulla
                    officiis possimus similique ut, veritatis voluptas voluptatibus? Assumenda blanditiis excepturi iure
                    non numquam officiis optio similique.
                </div>
                <div>A magnam rem suscipit ut vero voluptate voluptates voluptatum! Accusamus debitis distinctio dolore
                    dolorem doloribus ducimus et impedit in incidunt ipsa, numquam odio perspiciatis possimus
                    praesentium, saepe sapiente vitae! Omnis!
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Опыт</div>
            <div class="panel-body">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad animi aut cum dolor doloremque enim,
                    et, ipsum iste magnam neque odio porro quaerat quo, quod rem soluta tempora unde vel.
                </div>
                <div>Maiores maxime odit quaerat repellat? A aut deserunt distinctio eum eveniet exercitationem, illum
                    iure, molestiae nostrum obcaecati odio officiis placeat. Aliquam aspernatur beatae cumque explicabo
                    ipsam molestias odio sit voluptatum.
                </div>
                <div>Accusantium ducimus esse, fugit libero placeat provident quidem rerum tenetur vitae. Accusamus
                    autem corporis esse mollitia non obcaecati rem, soluta totam voluptates? Commodi deleniti dicta
                    dolor in inventore repellendus voluptatem!
                </div>
                <div>A atque debitis fuga itaque labore nemo repellendus rerum unde velit voluptatum? Amet cumque,
                    dignissimos, dolor ex facere impedit in iure libero nemo odio omnis perferendis porro, repellendus
                    suscipit ut.
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Panel title</h3>
            </div>
            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="copy_footer_info">&copy Павлов Дмитрий. Все права защищены. 2017 г.</div>
</div>
</body>
</html>