<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{page_title}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>

<div class="container">
    <div class="header">
        <div class="clr_block1"></div>
        <div class="image_title">
            <img src='{% static "images/aboutme1.png" %}' alt="image about me" width="80px">
        </div>
        <div class="main_caption">
            {% include 'inc/inc_main_caption.html' %}
        </div>
        {% include 'inc/inc_main_menu.html' %}
    </div>
    <div class="main_cv">
        <div class="clr_block1"></div>

        <div class="{{cv_panel}}">
            <div class="panel-heading">
                <h3 class="panel-title">Синопсис</h3>
            </div>
            <div class="panel-body">
                <div>
                    <h4>Павлов Дмитрий Геннадьевич.</h4>
                    <p><b>Дата рождения:</b> 6 февраля 1974 года ({{cv_age}}).</p>
                    <p><b>Место жительства:</b> Нижний Новгород, Канавинский район (метро Канавинская).
                    </p>
                    <p><b>Желаемая позиция:</b> C#, C++, Python разработчик, Team leader.</p>
                    <p><b>Гражданство:</b> Россия.</p>
                    <p><b>Желательное время в пути до работы:</b> Не имеет значение.</p>
                    <p><b>Контакты:</b> <a href="/contacts">на странице Контакты</a></p>
                    <p><b>Профессиональные интересы:</b> веб-разработка, обработка
                        изображений, сжатие изображений и видео, 3D графика, математическое
                        моделирование, компьютерная геометрия, теория графов, расчет и подбор теплообменного
                        оборудования.
                    </p>
                    <br>
                    <p>Есть опыт руководства небольшой группой разработчиков и ведения проекта посредством методологии
                        Scrum, успешный опыт реализации цепочек Идея -> ...-> Продажа.
                        Участие в полном цикле разработки программного обеспечения от постановки цели, ведения проекта,
                        написания документации, тестирования до создания инсталляционного пакета.
                        Профессиональные цели - работа в ИТ в индустрии. На высоком уровне совмещаю хорошее знание
                        математики и алгоритмов с высокой программистской культурой.
                    </p>
                    <p>На страничке <a href="/projects">Проекты</a> можно посмотреть некоторые мои разработки.</p>
                </div>
            </div>
        </div>

        <div class="{{cv_panel}}">
            <div class="panel-heading">
                <h3 class="panel-title">Образование</h3>
            </div>
            <div class="panel-body">
                <p><b>2016-2017 Портал GeekBrains.</b> Специальность: <a href="https://geekbrains.ru/go/5L8T7y"
                                                                         target="_blank">Программист Python</a>.</p>
                <br>
                <p><b>1995-2000 Нижегородский государтсвенный университет им. Лобачевского.
                </b> Механико-математический факультет. Специальность: Математика. Диплом с отличием.</p>
                <p>Дипломная работа: Построение булевой алгебры полигонов с простыми дырами.</p>
            </div>
        </div>

        <div class="{{cv_panel}}">
            <div class="panel-heading">
                <h3 class="panel-title">Опыт</h3>
            </div>
            <div class="panel-body">

                <p class="text-uppercase"><b>2005-{{cur_year}} АО Ридан.</b></p>
                <p><b>Должность: </b> C# Разработчик, Team-leader.</p>
                <p><b>Основные обязанности:</b> Разработка
                    <a href="http://www.ridan.ru/raschet-i-zakaz/raschetnaja_programma_ridan" target="_blank">
                        программы для расчета теплообменников</a>. Разработка корпоративного программного обеспечения.
                    Руководство группой разработчиков. Участие в онлайн разработке веб-сервиса по подбору теплообменного
                    оборудования.
                </p>
                <p><b>Основные используемые технологии: </b>C#, ASP.NET, TFS, SQL, Python.
                </p>
                <br>
                <p class="text-uppercase"><b>2002-2005 ЗАО Новые коммуникационные технологии.</b></p>
                <p><b>Должность: </b> С++ Разработчик.</p>
                <p><b>Основные обязанности:</b> Разработка ActiveX компонентов и конечных приложений для мультимедия на
                    языке С++.
                    Разработка библиотеки для трансляции видео, обработки изображений, сжатия изображений. Разработка
                    тестовых примеров, демонстрирующих работу библиотек, написание сопроводительной документации на
                    английском языке. Взаимодействие с заказчиком.
                </p>
                <p><b>Основные используемые технологии: </b>C++, C#, VB.NET, ActiveX, COM, SVN.
                </p>

            </div>
        </div>

        <div class="{{cv_panel}}">
            <div class="panel-heading">
                <h3 class="panel-title">Языки программирования</h3>
            </div>
            <div class="panel-body">
                <p><b>На высоком уровне: </b>C#, C++</p>
                <p><b>Имею представление и могу вести разработку: </b>Python, VB.NET</p>
                <p><b>Базовые знания: </b>Perl</p>
            </div>
        </div>

        <div class="{{cv_panel}}">
            <div class="panel-heading">
                <h3 class="panel-title">IDE</h3>
            </div>
            <div class="panel-body">
                <div>Microsoft Visual Studio, PyCharm</div>
            </div>
        </div>

        <div class="{{cv_panel}}">
            <div class="panel-heading">
                <h3 class="panel-title">Технологии</h3>
            </div>
            <div class="panel-body">
                <p>Технологии с которыми реально работал:</p>
                <h4>
                    {% for s in cv_skills %}
                    <div class="skill_container">
                        <span class="label label-default">{{s}}</span>
                    </div>
                    {% endfor %}
                </h4>
            </div>
        </div>

        <div class="{{cv_panel}}">
            <div class="panel-heading">
                <h3 class="panel-title">Иностранные языки</h3>
            </div>
            <div class="panel-body">
                <p>
                    <b>Английский </b>
                    Intermediate, есть подтверждающий сертификат от
                    <a href="https://nnovgorod.speakingplanet.ru" target="_blank">Speaking Planet</a>.
                    Могу проходить интервью.
                </p>
            </div>
        </div>

        <div class="{{cv_panel}}">
            <div class="panel-heading">
                <h3 class="panel-title">Электронные сертификаты</h3>
            </div>
            <div class="panel-body">
                <p>
                    <a href="https://geekbrains.ru/certificates/147318" target="_blank">HTML/CSS</a>,&nbsp;
                    <a href="https://geekbrains.ru/certificates/173667" target="_blank">Python</a>,&nbsp;
                    <a href="https://geekbrains.ru/certificates/192835" target="_blank">Django</a>,&nbsp;
                    <a href="https://geekbrains.ru/certificates/125270" target="_blank">Git</a>,
                    <a href="https://geekbrains.ru/certificates/262940" target="_blank">ASP.NET MVC</a>
                </p>
            </div>
        </div>
        <p>
            <a class="btn btn-primary" href="#" role="button">Наверх</a>
            <a class="btn btn-primary" href="https://drive.google.com/file/d/0B_cXllOBjkWYTHduTWpGU3V3R2M/view?usp=sharing" role="button" target="_blank">Скачать PDF</a>
            <a class="btn btn-primary" href="/contacts" role="button">Написать сообщение</a>
        </p>
    </div>
</div>
{% include 'inc/inc_common_footer.html' %}
</body>
</html>