<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{page_title}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>

<div class="container">
    <div class="header">
        <div class="clr_block1"></div>
        <div class="image_title">
            <img src='{% static "images/aboutme1.png" %}' alt="image about me" width="80px">
        </div>
        <div class="main_caption">
            {% include 'inc/inc_main_caption.html' %}
        </div>
        {% include 'inc/inc_main_menu.html' %}
    </div>
    <div class="main_hb">
        <div class="panel panel-default">
            <div class="panel-body">
                <b>Модель Су-24, фронтовой бомбардировщик</b>
            </div>

            <div class="image_template_container">
                <div class="row">
                    <div class="col-xs-6 col-md-10">
                        <div class="thumbnail">
                            <img src='{% static "images/hobbies/su24/3.jpg" %}' alt="su-24">
                        </div>
                    </div>
                </div>
            </div>
            <div class="context_template_container">
                <h4>Описание</h4>
                <p>Су-24 (изделие Т-6, по кодификации НАТО: Fencer — «Фехтовальщик») —
                    советский и российский тактический фронтовой бомбардировщик с крылом изменяемой
                    стреловидности, предназначенный для нанесения ракетно-бомбовых ударов в простых и сложных
                    метеоусловиях, днём и ночью, в том числе на малых высотах с прицельным поражением наземных
                    и надводных целей.
                </p>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque laudantium nobis omnis
                    quaerat soluta sunt voluptatem! Earum eveniet inventore, ipsa libero non nostrum odio provident quam
                    quas recusandae sapiente?
                </div>
                <div>Ad adipisci alias aliquam, cum cumque dicta dignissimos dolorem enim eos expedita illum incidunt
                    ipsum laudantium molestiae nam natus necessitatibus officia placeat quam quisquam quos rem
                    repudiandae soluta sunt unde.
                </div>
                <br>
                <a class="btn btn-primary" href="#" role="button">Су-24 на Википедии...</a>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-6 col-md-1">
                <a href="#" class="thumbnail">
                    <img src='{% static "images/hobbies/su24/1.jpg" %}' alt="...">
                </a>
            </div>

            <div class="col-xs-6 col-md-1">
                <a href="#" class="thumbnail">
                    <img src='{% static "images/hobbies/su24/2.jpg" %}' alt="...">
                </a>
            </div>

            <div class="col-xs-6 col-md-1">
                <a href="#" class="thumbnail">
                    <img src='{% static "images/hobbies/su24/3.jpg" %}' alt="...">
                </a>
            </div>

            <div class="col-xs-6 col-md-1">
                <a href="#" class="thumbnail">
                    <img src='{% static "images/hobbies/su24/4.jpg" %}' alt="...">
                </a>
            </div>

            <div class="col-xs-6 col-md-1">
                <a href="#" class="thumbnail">
                    <img src='{% static "images/hobbies/su24/5.jpg" %}' alt="...">
                </a>
            </div>

        </div>
    </div>

</div>
{% include 'inc/inc_common_footer.html' %}
</body>
</html>