<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{page_title}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>

<div class="container">
    <div class="header">
        <div class="clr_block1"></div>
        <div class="image_title">
            <img src='{% static "images/aboutme1.png" %}' alt="image about me" width="80px">
        </div>
        <div class="main_caption">
            {% include 'inc/inc_main_caption.html' %}
        </div>
        {% include 'inc/inc_main_menu.html' %}
    </div>

    <div class="main_hb">

        <ol class="breadcrumb">
            <li class="active"><b>МОИ МОДЕЛИ</b></li>
            {% for s in hobby_list_models %}
            <li><a href="{{s.item2}}"><b>{{s.item1}}</b></a></li>
            {% endfor %}
        </ol>

        <div class="panel panel-default">
            <div class="panel-body">
                <b>Модель {{model.name}}, {{model.short_desc}}</b>
            </div>

            <div class="image_template_container">
                <div class="row">
                    <div class="col-xs-6 col-md-9">
                        <div class="thumbnail">
                            <img src='{{model.main_image_src}}' alt="{{model.name}}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="context_template_container">
                <h4>Описание</h4>
                {% for s in model.desc %}
                <p>{{s}}</p>
                {% endfor %}
                <br>
                <a class="btn btn-default" href="{{model.button_link}}" target="_blank" role="button">
                    {{model.button_name}}
                </a>
            </div>
        </div>

        <div class="row">
            {% for s in model.small_images %}
            <div class="col-xs-6 col-md-1">
                <a href="{{s.item2}}" class="thumbnail">
                    <img src='{{s.item1}}' alt="small photo">
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
{% include 'inc/inc_common_footer.html' %}
</body>
</html>