<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{page_title}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>

<div class="header">

</div>
<div class="container">
    <div class="main">

        <div class="my_title">
            <div class="main_logo">
                <img src='{% static "images/aboutme1.png" %}' alt="About Me image" width="80px">
            </div>
            {% include 'inc_main_caption.html' %}
        </div>
        {% include 'inc_main_menu.html' %}
        <div class="main_context1">
            <img src='{% static "images/sochi_2016.jpg" %}' alt="Me image" width="440px">
        </div>
        <div class="main_context2">
            <div class="page-header">
                <h2>Добро пожаловать!
                    <small>персональный сайт</small>
                </h2>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium assumenda commodi culpa
                    cupiditate deleniti doloribus eum iste itaque libero molestiae nisi provident quaerat quam, rem
                    repellendus repudiandae, vel voluptas voluptatibus.
                </p>
                <p>Asperiores aspernatur beatae, corporis delectus deleniti dicta doloremque dolores ex incidunt
                    inventore ipsam laborum magnam maiores maxime minima, molestiae mollitia numquam odio officia
                    officiis placeat, quae quaerat quasi similique voluptate.
                </p>
                <p>Delectus dignissimos doloremque dolorum expedita facilis laboriosam libero maxime nisi nobis quae
                    quaerat reiciendis, unde veniam. Atque explicabo, facilis ipsam, labore minus molestiae mollitia
                    nostrum perspiciatis qui quibusdam quidem sed!
                </p>
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi autem dolorum eius ipsam labore
                    minus non possimus rem reprehenderit, sint. Blanditiis consequuntur explicabo maxime nemo, numquam
                    obcaecati possimus vero voluptatum!
                </div>
                <div>Ab accusamus atque aut consequuntur distinctio dolorum earum eos iste labore maiores minus nulla
                    officiis possimus similique ut, veritatis voluptas voluptatibus? Assumenda blanditiis excepturi iure
                    non numquam officiis optio similique.
                </div>
                <div>A magnam rem suscipit ut vero voluptate voluptates voluptatum! Accusamus debitis distinctio dolore
                    dolorem doloribus ducimus et impedit in incidunt ipsa, numquam odio perspiciatis possimus
                    praesentium, saepe sapiente vitae! Omnis!
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="copy_footer_info">&copy Павлов Дмитрий. Все права защищены. 2017 г.</div>
</div>
</body>
</html>