<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{page_title}}</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href='{% static "bootstrap/css/bootstrap.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "style.css" %}'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src='{% static "bootstrap/js/bootstrap.min.js" %}'></script>

<div class="container">
    <div class="header">
        <div class="clr_block1"></div>
        <div class="image_title">
            <img src='{% static "images/aboutme1.png" %}' alt="image about me" width="80px">
        </div>
        <div class="main_caption">
            {% include 'inc/inc_main_caption.html' %}
        </div>
        {% include 'inc/inc_main_menu.html' %}
    </div>
    <div class="main_pr">

        <!-- Carousel
            ================================================== -->
        <div class="carusel_container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">

                    {% for indicator in projects_data.indicators %}
                    <li data-target="#myCarousel" data-slide-to="{{indicator.0}}" class="{{indicator.1}}"></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner" role="listbox">
                    {% for carusel in projects_data.carusel %}
                    <div class="{{carusel.active}}">
                        <img class="{{carusel.class_name}}" src='{% static "images/slide1.png" %}'
                             alt="{{carusel.alt}}">
                        <div class="container">
                            <div class="carousel-caption">
                                <h3>{{carusel}}</h3>
                                <p>{{carusel.text}}</p>
                                <p>
                                    <a class="btn btn-primary" href="{{carusel.button_link}}" role="button">{{carusel.button_text}}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div><!-- /.carousel -->
        </div>

        <div class="carusel_small_container">
            <ol class="breadcrumb">
                {% for carusel in projects_data.carusel %}
                <li><a href="{{carusel.short_link}}">{{carusel}}</a></li>
                {% endfor %}
            </ol>
        </div>

        <div class="page-header">
            <h2>Мои ИТ-проекты</h2>
            <p class="lead">
                Здесь представлены мои ИТ-проекты написанные в разное время, в период увлечения различными
                технологиями
                и идеями. Вместе с описанием проекта я расскажу и о том, какой стек технологий использовался при его
                создании. Если у вас возникнут какие либо вопросы, вы можете <a href="/contacts">написать мне</a>.
                Буду рад любому общению.
            </p>
        </div>

        <!-- START THE FEATURETTES -->

        <div class="row featurette">
            <div class="col-md-7">
                <h3 class="featurette-heading"><a name="gl"></a>Игра Жизнь.
                    <small>Реализация работы клеточного автомата.</small>
                </h3>
                <p><b>Описание.</b>&nbsp;
                    Об этой игре написано достаточно много. Ее подробное описание можно найти например на
                    <a href="https://ru.wikipedia.org/wiki/Жизнь_(игра)" target="_blank">Википедии</a>.
                    Хотя игрой ее наверное в полной мере называть нельзя. Поскольку игра подразумевает какое-то
                    интерактивное вмешательство в процесс. Здесь же участие игрока сводится к расстановке
                    первоначального положения колонии клеток. Впрочем в моей реализации клетки можно добавлять прямо на
                    ходу. Правила игры очень просты. Есть клетки молодые и старые. В игру добавляется клетка всегда
                    молодая, по традиции она отображается зеленым цветом. Старые клетки отображаются красным. Шаг игры
                    заключается в том, выживает клетка в своей ячейке или нет, а также в том, зарождается новая клетка в
                    свободной ячейке или нет. Правила выживания следующие - если клетку окружают 2 или 3 соседних, то
                    она выживает и при этом становится старой, что впрочем влияет только на ее цвет. Клетка зарождается
                    в пустой ячейке если она имеет ровно 3 соседей. Вот и все. Однако эти простые правила порождают
                    просто фантастические комбинации на игровом поле. Впрочем все это нужно просто увидеть.
                </p>
                <p><b>Техническая реализация.</b>&nbsp;
                    Данный продукт &ndash; чистая .NET реализация идеи, без дополнительных библиотек и технологий.
                    Программа написана на языке C#. Отрисовка поля выполнена с помощью встроенной графической библитеки
                    GDI+.
                </p>
                <p><b>Стэк технологий.</b>
                <h4>
                    {% for s in projects_data.stack.0 %}
                    <div class="skill_container">
                        <span class="label label-default">{{s}}</span>
                    </div>
                    {% endfor %}
                </h4>
                </p>
                <br>
                <div class="clr_block_text"></div>
                <br>
                <p>
                    <a class="btn btn-primary" href="{{projects_data.carusel.0.button_link}}" target="_blank"
                       role="button">{{projects_data.carusel.0.button_text}}</a>
                </p>

            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                     alt="500x500"
                     src='{% static "images/projects/_pr1.png" %}'
                     data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h3 class="featurette-heading"><a name="rp"></a>Расчетная программа АО Ридан.
                    <small>&nbsp;Расчет пластинчатых теплообменников.</small>
                </h3>
                <p><b>Описание.</b>&nbsp
                    Расчетная программа АО Ридан является главным инструментом для расчета и подбора теплообменного
                    оборудования в компании где я в настоящее время работаю.
                </p>
                <p>За данной программой закрепилось несколько безликое наименование
                    Расчетная программа АО Ридан. Это некоторая дань негласной инженерной традиции. В других
                    инжиниринговых компаниях, подобный софт хоть и может иметь некоторое наименование, однако среди
                    инженеров все равно остается просто расчетной программой.
                </p>&nbsp;
                <p>
                    Программа имеет следующий функционал:
                </p>
                <dl class="dl-horizontal">
                    <dt>Стандартный расчет</dt>
                    <dd>
                        Подбор теплообменников по имеющимся, наиболее напряженным тепло-гидравлическим условиям работы.
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Поверочный расчет</dt>
                    <dd>
                        Определение тепло-гидравлических характеристик выбранного теплообменника при заданном режиме.
                    </dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Конденсация пара</dt>
                    <dd>Разновидность стандартного расчета, где в качестве греющей среды
                    выступает пар, который проходя по теплообменнику конденсируется и выходит в виде жидкости.
                    Принципиальным моментом данного типа расчета является фазовый переход греющей среды.</dd>
                </dl>
                <p><b>Техническая реализация.&nbsp;</b>&nbsp;
                    Данная программа написана на языке C#. Основная сложность или лучше сказать интерес этого проекта в
                    разработке и развитии физической и математической моделей расчета. Здесь есть реализация
                    матричных операций, решение систем нелинейных уравнений, различные виды апроксимаций.
                </p>
                <p><b>Стэк технологий.</b>
                <h4>
                    {% for s in projects_data.stack.1 %}
                    <div class="skill_container">
                        <span class="label label-default">{{s}}</span>
                    </div>
                    {% endfor %}
                </h4>
                <br>
                <div class="clr_block_text"></div>
                <br>
                <p>
                    <a class="btn btn-primary" href="{{projects_data.carusel.1.button_link}}" role="button"
                       target="_blank">{{projects_data.carusel.1.button_text}}</a>
                </p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                     alt="500x500"
                     src='{% static "images/projects/pr2.png" %}'
                     data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h3 class="featurette-heading"><a name="sl"></a>SusaninLab.
                    <small>&nbsp;Поиск кратчайших маршрутов.</small>
                </h3>
                <p><b>Описание.</b>&nbsp;&nbsp;
                    В результате увлечения комбинаторными алгоритмами и теорией графов появилась программа SusaninLab.
                    Первая задача, которую решает программа SusaninLab это поиск наиболее оптимального маршрута.
                    Чуть подробнее это звучит так&mdash;необходимо выйти из пункта А, обойти пункты C1, C2, ... Cn и
                    попасть в пункт B при этом затратив как можно меньше времени (денег, бензина и т. п.). Сами пункты
                    А и В могут совпадать. В этом случае мы получаем одну из классических задач теории графов &mdash;
                    задачу коммивояжера. Вторая задача математическим языком формулируется как задача построения
                    минимального остовного дерева.
                </p>
                <br>
                <h4>Основные возможности</h4>

                <div class="list_container">
                    <ul class="rounded">
                        <li>Решение задачи о поиске кратчайшего пути между двумя пунктами</li>
                        <li>Решение классической задачи коммивояжера</li>
                        <li>Построение минимального остовного дерева</li>
                        <li>Построение оптимальных путей на ориентированных графах</li>
                        <li>Создание и редактирование графа в интерактивном режиме</li>
                        <li>Сохранение графа в виде файла для последующей работы</li>
                        <li>Сохранение графа как изображения в форматы BMP, JPG, PNG</li>
                        <li>Управление эвристикой алгоритма: медленный поиск - более точное решение,
                            быстрый поиск - менее точное решение
                        </li>
                    </ul>
                </div>

                <br>
                <p><b>Техническая реализация.</b>&nbsp;&nbsp;
                    Каркас программы написан на Visual C++ с использованием библиотеки MFC. Он включает в себя два
                    самостоятельных модуля (библиотеки) ELGraphVisio и ELSusaninPath, каждый из которых выполнен в виде
                    ActiveX COM DLL. ELGraphVisio занимается отрисовкой графов. ELSusaninPath ищет оптимальные пути и
                    строит остовные деревья. Эти две библиотеки могут быть встроены в любое другое приложение,
                    при условии поддержки средой разработки технологии ActiveX. Основное приложение интегрирует эти две
                    библиотеки.
                </p>
                <p><b>Стэк технологий.</b>
                <h4>
                    {% for s in projects_data.stack.2 %}
                    <div class="skill_container">
                        <span class="label label-default">{{s}}</span>
                    </div>
                    {% endfor %}
                </h4>
                </p>
                <br>
                <div class="clr_block_text"></div>
                <br>
                <p>
                    <a class="btn btn-primary" href="{{projects_data.carusel.2.button_link}}" target="_blank"
                       role="button">{{projects_data.carusel.2.button_text}}</a>
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                     alt="500x500"
                     src='{% static "images/projects/pr3.png" %}'
                     data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h3 class="featurette-heading"><a name="ps"></a>Персональный сайт.
                    <small>&nbsp;Павлов Дмитрий.</small>
                </h3>
                <p><b>Описание.</b>&nbsp;&nbsp;
                    Как я уже написал в начале, данный сайт является результатом моего обучения
                    профессии <a href="https://geekbrains.ru/go/5L8T7y" target="_blank">Программист Python</a>
                    на портале GeekBrains. Работа с Django оказалась на редкость увлекательной. А Python оказался очень
                    простым и эффективным языком программирования с низким порогом вхождения. Богатство функционала
                    Django и разнообразие библиотек позволяет быстро разивать сайт. Сейчас мой сайт содержит
                    <a href="/cv">резюме</a> на русском языке, проекты, увлечения и контактную информацию.
                    В будущем хотелось бы еще завести блог.
                </p>
                <p><b>Техническая реализация.</b>&nbsp;
                    Сайт разработан на Django. Здесь используются такие вещи как шаблонизатор. Например
                    страничка <a href="/hobbies">Увлечения</a> выполнена на одном единственном шаблоне, который
                    заполняется в соответствии выбором пользователя. На страничке <a href="/contacts">Контакты</a>
                    используется очень эффектная технология Django forms, которая делает работу с формами
                    очень удобной и понятной. Верстка основых компонентов страничек выполнена с помощью библиотеки
                    Bootstrap.
                </p>
                <p><b>Стэк технологий.</b>
                <h4>
                    {% for s in projects_data.stack.3 %}
                    <div class="skill_container">
                        <span class="label label-default">{{s}}</span>
                    </div>
                    {% endfor %}
                </h4>
                </p>
                <br>
                <div class="clr_block_text"></div>
                <br>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto"
                     alt="500x500"
                     src='{% static "images/projects/pr4.png" %}'
                     data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

        <p>
            <a class="btn btn-primary" href="#" role="button">Наверх</a>
            <a class="btn btn-primary" href="/contacts" role="button">Написать сообщение</a>
        </p>

    </div>

</div>
{% include 'inc/inc_common_footer.html' %}
</body>
</html>